*{
    margin:0px;
    }
    
    header{
        background-image: url("../public/imagenes/bb.png");
        text-align: center;
        width: 100%;
        height: 200px;
        color: rgb(250, 253, 251);
    }
    
    #c{
        position: absolute;
        top: 10%;
        left: 45%;
    }
    
    nav ul {
        width: 100%;
        padding: 0px;
            text-align: center;
        background-color: #099e18;
    }
    
    nav ul li {
        display: inline-block;
        width: 400px;
        height: 16px;
        padding: 10px;
        border: 5px solid rgb(236, 186, 20);
        color: rgb(0, 0, 0);
    
    }
    
    nav ul li a:hover {
    background-color: #E6B203;
    color: black;
    }
    body{
        background-color: #51cf5e;
    }
    
    .art{
        margin-top: 13px;
        margin-bottom: 13px;
    }
    #loro{
        display: inline-block;
        width: 20%;
        background-color: #ffdf74;
        border-style: solid;
        border-color: #4bc704;
        border-width: 7px;
        margin-right: 18%;;
    }
    
    #tucan{
        display: inline-block;
        width: 20%;
        background-color: #ffffff;
        border-style: solid;
        border-color: #000000;
        border-width: 7px;
        margin-right: 18%;;
    
    }
    
    #aguila{
        display: inline-block;
        width: 20%;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4b3416;
        border-width: 7px;
    }
    
    
    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        margin-top: 7px;
        width: 40%;
    }
    
    .footer{
        color: white;
        background-color: rgb(109, 105, 105);
    }
    .logo{
        background-color: rgb(52, 84, 126);
    }
    
    .menufoot{
        margin-top: 3px;
    }